<div class="row">
  <div class="large-6 large-offset-3 medium-8 medium-offset-2 small-12 columns">
    <h1>Todos</h1>

    {{outlet}}

    <p>
      Double-click to edit a todo
    </p>
  </div>
</div>
