<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    {{input type="text" id="new-todo" placeholder="What needs to be done?" value=newTitle enter="createTodo"}}

    <div class="">
      <input type="checkbox" id="toggle-all">

      <div id="todo-list">
        {{#each model as |todo|}}
          {{todo-item acceptChanges="acceptChanges" deleteTodo="deleteTodo" todo=todo}}
        {{/each}}
      </div>
    </div>

    <footer class="">
      <span id="todo-count">
        <strong>2</strong> todos left
      </span>
      <div id="filters">
        <div>
          <a href="all" class="selected">All</a>
        </div>
        <div>
          <a href="active">Active</a>
        </div>
        <div>
          <a href="completed">Completed</a>
        </div>
      </div>

      <button id="clear-completed">
        Clear completed (1)
      </button>
    </footer>

  </div>
</div>
